/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

nav{
    margin: 5px 105px 0 105px;
}

.dropdown{
    margin-top: 5px;
    display: inline-table;
}

.input-product{
    width: 180px;
    display: inline;
    overflow: hidden;
    border: 1px solid #3498DB;
}

span.main{
    width: 300px;
    display: inline-block;
}

span.second{
    width: 180px;
    display: inline-block;
}

p.p-header{
    margin-bottom: 5px;
}

select {
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:5px;
  width:300px;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
       -moz-transition:0.3s ease all;
        -ms-transition:0.3s ease all;
         -o-transition:0.3s ease all;
            transition:0.3s ease all;
}